<head>
  <title> HackTeams </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/chat.css'/>
  <link rel='stylesheet' href='/stylesheets/sidebar.css'/>
  <link rel='stylesheet' href='/stylesheets/card.css'/>
  <link rel="shortcut icon" type="image/x-icon" href="/images/hacklogo.png" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/javascripts/chat.js"> </script> 
  <script src="/javascripts/main.js"> </script>
  <script src="/javascripts/mlh-scraper.js"></script>

</head>


