
<section class="col-md-1">

  <div id="fp-nav" class="left" style="color: rgb(0, 0, 0); margin-top: -73.5px;">
    <ul>

      <li>
	<a href="/">
	  <span></span>
	  <p class="tooltiptext"> hackathons </p>
	</a>
      </li>

      <li>
	<a href="/teams">
	  <span>
	  </span>
	  <p class="tooltiptext"> teams </p>
	</a>
      </li>

      <li>
	<a href="account">
	  <span>
	  </span>
	  <p class="tooltiptext"> profile </p>
	</a>
      </li>

      <li>
	<a href="login" class="glyphicon glyphicon-log-out">
	  <p class="tooltiptext"> logout </p>
	</a>
      </li>

      <li>
      <a href="register" class="glyphicon glyphicon-user">
	  <p class="tooltiptext"> Edit Profile </p>
	</a>
      </li>

    </ul>
  </div>

</section>
