
<section class="col-md-5">

  <div class="card center">
    <img class="card-img-top" src="https://avatars0.githubusercontent.com/u/6209879?v=3&s=466" alt="Card image cap">
    <div class="card-block center">
      <h4 class="card-subtitle"> Scotty </h4>
      <p class="card-text"> Hi! I'm a fullstack developer looking for a partner to work on a hadoop project. This would be my first time using Hadoop!</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>

    <div class="card-block text-xs-center">
      <a href="#" class="btn btn-primary"> Quick Chat </a>
    </div>
  </div>

</section>


