<!DOCTYPE html>
<html ng-app>
  <head>
    <title><%= title %></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/hacklogo.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>

    <header class="navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img alt="Brand" width="30" height="30" src="/images/hacklogo.png">
        </a>
      </div>
    </header>

    <section class="col-md-2">

      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge" > 104 </span>
          <a href="/" class="btn btn-info" role="button">Hackathons</a>
        </li>
        <li class="list-group-item">
          <span class="badge" > 3 </span>
          <a href="teams" class="btn btn-info" role="button">Teams</a>
        </li>
        <li class="list-group-item">
          Account
        </li>
      </ul>

    </section>

    <section class="col-md-5">

      <div class="row hack-panel">
        <div class="panel panel-default">
          <div class="panel-body">
            <h1> def hacks ()</h1>
            <p> November 19-20 </p>
          </div>
        </div>
      </div>

      <div class="row hack-panel">
        <div class="panel panel-default">
          <div class="panel-body">
            <h1> def hacks ()</h1>
            <p> November 19-20 </p>
          </div>
        </div>
      </div>

    </section>

    <section class="col-md-5">
      <div class="container-fluid">
        <div class="row">
          <div class="thumbnail">
            <img class="img-rounded" src="https://img.evbuc.com/https%3A%2F%2Fimg.evbuc.com%2Fhttp%253A%252F%252Fcdn.evbuc.com%252Fimages%252F19635349%252F170214593618%252F1%252Foriginal.jpg%3Frect%3D0%252C0%252C2160%252C1080%26s%3D5c350040278869b0555e23a4ba514f9f?h=200&w=450&s=c1073e6b3b9d05d8645a6d05cca6a87b" alt="...">
            <div class="center">
              <h3>Def Hacks</h3>

              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary">
                  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-secondary">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <footer>
    </footer>
  </body>
</html>
