<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  </head>
  <body class="container-fluid">

    <header class="navbar">
      <a class="navbar-brand"> defhacks();</a>
    </header>



    <section class="col-md-2">
      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge" > 104 </span>
            Hackathons
        </li>
      v</ul> 

    </section>

    <section class="col-md-5">
    </section>

    <section class="col-md-5">
    </section>

    <footer>
    </footer>
  </body>
</html>
