<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  </head>
  <body class="container-fluid">

    <header class="navbar">
      <a class="navbar-brand"> defhacks();</a>
    </header>



    <section class="col-md-2">
      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge" > 104 </span>
          Hackathons
        </li>
        <li class="list-group-item">
          <span class="badge" > 3 </span>
          Teams
        </li>
        <li class="list-group-item">
          Account
        </li>

      </ul> 

    </section>

    <section class="col-md-5">

      <div class="row hack-panel">
        <div class="panel panel-default">
          <div class="panel-body">
          <h1> def hacks ()</h1>
          <p> November 19-20 </p>
          </div>
        </div> 

      </div>
    </section>

    <section class="col-md-5">
    </section>

    <footer>
    </footer>
  </body>
</html>
