<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/team.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  </head>
  <body class="container-fluid">

    <header class="navbar">
      <a class="navbar-brand"> defhacks();</a>
    </header>



    <section class="col-md-2">

      <ul class="list-group">
        <li class="list-group-item">
          <span class="badge" > 104 </span>
          <a href="/" class="btn btn-info" role="button">Hackathons</a>
        </li>
        <li class="list-group-item">
          <span class="badge" > 3 </span>
          <a href="teams" class="btn btn-info" role="button">Teams</a>
        </li>
        <li class="list-group-item">
          Account
        </li>
      </ul>

    </section>

    <section class="col-md-4">

      <div class="row panel">
        <div class="panel panel-default">
          <div class="panel-body">
          <h1>defHacks();</h1>
          <ul>
            <li>Person 1:
              <ul>
                <li>Skills: Quel, Que, Chose</li>
                <li>Hackathons: cetteHack, autreHack</li>
              </ul>
            </li>
            <li>Person 2:
              <ul>
                <li>Skills: Autre, Chose</li>
                <li>Hackathons: defHacks();, autreHacks();</li>
              </ul>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="col-md-6">
      <div class="container-fluid">
      <div class="row hack-panel">
        <div class="panel panel-default">
          <div class="panel-body">
            <h1>Team Chat</h1>
            <div class="well">
              Messages
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>


    <footer>
    </footer>
  </body>
</html>
