<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/teams.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  </head>
  <body>
    <div class="wrapper">
      <header class="navbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img alt="Brand" width="30" height="30" src="/images/hacklogo.png">
          </a>
        </div>
      </header>

    <section class="col-md-1">
    <div id="fp-nav" class="left" style="color: rgb(0, 0, 0); margin-top: -73.5px;">
      <ul>
        <li>
          <a href="/">
            <span>
            </span>
          </a>
        </li>
        <li>
          <a href="teams" class="active">
            <span>
            </span>
          </a>
        </li>
          <li>
            <a href="account">
              <span>
              </span>
            </a>
          </li>
          </ul>
        </div>
    </section>
    <section class="col-md-5">

      <div class="row panel">
        <div class="panel panel-default">
          <div class="panel-body">
          <h1>defHacks();</h1>
          <ul>
            <li>Person 1:
              <ul>
                <li>Skills: Quel, Que, Chose</li>
                <li>Hackathons: cetteHack, autreHack</li>
              </ul>
            </li>
            <li>Person 2:
              <ul>
                <li>Skills: Autre, Chose</li>
                <li>Hackathons: defHacks();, autreHacks();</li>
              </ul>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="col-md-5">
      <div class="container-fluid">
        <div class="row">
          <div class="thumbnail">
            <div class="center">
              <h3> Chat </h3>
            </div>
          </div>
        </div>
      </div>
    </section>

     <footer>
    </footer>
  </div>
  </body>
</html>
