
.center{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card{
  color: white;
}
.card-img-top{
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.list-group{
  color: black;
}
