body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.hack-panel{
  text-align: center;
}

.thumbnail{
  border-radius: 50%;
}
.hack-view{
  display: flex;
  align-items: center;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
