html{
  height: 100%;
  margin: 0;
  top: 0;
  padding: 0;
}
body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


.navbar .container-fluid{
  display: flex;
  align-items: center;
  justify-content: center;
}
.hack-panel{
  text-align: center;
}

.thumbnail{
  border-radius: 50%;
}
.hack-view{
  display: flex;
  align-items: center;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


